.about {
    background-image: url(../photos/background/about.jpg);
    background-position: center;
    background-size: cover;

    text-align: center;

}
#me {
    width: 40vh;
    border-radius: 100%;
    margin: 10vh;
    margin-bottom: 2vh;
}
.about {
    position: relative;
}
#aboutjump {
    position: absolute;
    top: -6%;
}

#cv-holder {
    background-color: rgba(50,50,50,0.3);
    width: 40%;
    margin: 0 auto;
    position: relative;

}


#cv {
    color: white;
    font-size: 170%;
    background-color:rgba(255, 255, 255, 0.5);
    width: 20%;
    height: 4%;
    margin: 0 auto;
    padding: 0;
}
#what-i-can-do {
    color: white;
    width: 45%;
    background-color: green;;
    position:absolute;
    left: 0%;
}

#boringcv {
    color: white;
    width: 45%;
    position: absolute;
    right: 0%;
}
#socials {


}
#cvk {
    background-color: pink;
    height: 4%;
    width: 75%;
    margin: 0 auto;
}