

.homepage {
    height: 95vh;
    background-image: url(../photos/background/home.jpg);
    background-position: center;
    background-size: cover;
}

.ablak {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: hatter 3s ; /* Chrome, Safari, Opera */
  animation: hatter 3s ;
}
#logo {
  padding-top: 10%;
  text-align: center;
}
h1 {
  font-family: 'EB Garamond', serif;
  color: white;
  transform: translateY(-75vh);
  font-size: 15vh;
  text-align: center;
  opacity: 1;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: elotunes 1s ; /* Chrome, Safari, Opera */
  animation: elotunes 1s ;
}
h2 {
  font-family: 'EB Garamond', serif;
  color: white;
  transform: translateY(-88vh);
  font-size: 2.9vh;
  letter-spacing: 0.7vh;
  text-align: center;
  opacity: 1;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: hover_down 1.8s ; /* Chrome, Safari, Opera */
  animation: hover_down 1.8s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hatter {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}

}

/* Standard syntax */
@keyframes hatter {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes elotunes {
  0% {opacity: 0; transform: translateY(-100vh);}
  100% {opacity: 1; transform: translateY(-75vh);}

}

/* Standard syntax */
@keyframes elotunes {
  0% {opacity: 0; transform: translateY(-100vh);}
  100% {opacity: 1; transform: translateY(-75vh);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hover_down {
  0% {opacity: 0;}
  30% {opacity: 0; transform: translateY(-60vh);} 
  100% {opacity: 1;transform: translateY(-88vh)}

}

/* Standard syntax */
@keyframes hover_down {
  0% {opacity: 0;}
  30% {opacity: 0; transform: translateY(-60vh);} 
  100% {opacity: 1;transform: translateY(-88vh)}
}


#navbar {
    background-color: black;
    position: fixed;
    top: -6%;
    width: 100%;
    height: 6%;
    transition: top 0.3s;
    z-index: 1;
}
#link-holder {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}
table {
    width: 100%;
    height: 100%;
}
td {
  width: 10%;
  text-align: center;
}
#navhely {
    width: 60%;
}
td a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    vertical-align: middle;
    font-family: 'EB Garamond', serif;
}
#arrow-holder {
  z-index: 5;
  height: 4vh;
  width: 4vh;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform:scale(140%,80%);
  animation-name: arrowdown;
  animation-duration: 6s;
  transition: 0.5s;
}
#arrowdown {
  transform: rotate(45deg);
  height: 100%;
  width: 100%;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#arrow-holder:hover {
  transform: scale(160%, 200%) translateY(5%);
  opacity: 0.8;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes arrowdown {
  0% {opacity: 0; transform:scale(140%,80%) translateY(-15vh);}
  50% {opacity: 0; transform:scale(140%,80%) translateY(-15vh);}
  80% {transform:scale(140%,80%) translateY( 0vh);}
  100% {opacity: 1;transform:scale(140%,80%) translateY( 0vh);}

}

/* Standard syntax */
@keyframes arrowdown {
  0% {opacity: 0; transform:scale(140%,80%) translateY(-15vh);}
  50% {opacity: 0; transform:scale(140%,80%) translateY(-15vh);}
  80% {transform:scale(140%,80%) translateY( 0vh);}
  100% {opacity: 1;transform:scale(140%,80%) translateY( 0vh);}
}