body {
    background-color: rgb(63, 61, 54);
    overflow-x: hidden;
    overflow-y: auto;
    position: auto;
}
#header {
    color: white;
    margin: 0 auto;
    background-color: rgb(94, 84, 68);
    width: 80%;
    height: 15vh;
    position: relative;

}
#header-cim {
    font-size: 285%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#header-alcim {
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);    
}
#content {
    width: 80%;
    margin: 0 auto;
}
.season {
    background-color: rgb(71, 64, 52);
    column-count: 3;
    column-gap: 0;
    width: 95%;
    margin: 0 auto;
    z-index: 2;
    margin-top: 2vh;
    padding: 1.5% 2.5%;
}
.csempe-panel {
    width: 100%;
    break-inside: avoid;
    padding: 0.25vw 0;
    transition: 1s;
    z-index: 100;
}
.kep {
    width: 95%;
}
.seasoncim {
    
    background-color: rgb(94, 84, 68);
    font-family: 'EB Garamond';
    padding: 0;
    color: white;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: -1%;
    margin-top: 5%;
}
.megtekinto {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    text-align: center;
    z-index: 1;
    top:0;
    display: none;
    transition: 0.5s;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    -webkit-animation: elotunes 0.5s ; /* Chrome, Safari, Opera */
    animation: elotunes 0.5s ;
}
.megtekinto img {
    margin-top: 2.5%;
    height: 90vh;
    width: auto;
    border-radius: 3px;
}
a {
    text-decoration: none;
}

#bezaro {
    display: inline-block;
    opacity: 0.5;
    transition: 0.25s;
    transform: translateY(-85vh);
    width: 15px;
    height: 15px;
    border: 2px solid rgba(150, 150, 150, 1);
    border-radius: 15px;
    background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,rgba(150, 150, 150, 0.9) 45%,rgba(150, 150, 150, 0.9) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, rgba(50, 50, 50, 0.9) 0%,rgba(50, 50, 50, 0.9) 43%,rgba(150, 150, 150, 0.9) 45%,rgba(150, 150, 150, 0.9) 55%,rgba(50, 50, 50, 0.9) 57%,rgba(50, 50, 50, 0.9) 100%);
}
#bezaro:hover {
    opacity: 0.8;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes elotunes {
    0% {opacity: 0;}
    100% {opacity: 1;}
  
  }
  
  /* Standard syntax */
  @keyframes elotunes {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

#header {
    padding: 3vh 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: meretezes 2.5s ; /* Chrome, Safari, Opera */
    animation: meretezes 2.5s ;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes meretezes {
    0% {padding: 40vh 0;}
    50% {padding: 40vh 0;}
    100% {padding: 3vh 0;}
  }
  
  /* Standard syntax */
  @keyframes meretezes {
    0% {padding: 40vh 0;}
    50% {padding: 40vh 0;}
    100% {padding: 3vh 0;}
}
  